<h3><%= "Approve Users - Already Paid" %></h3>

<table>
	<tr>
		<th>Full name</th>
		<th>Email</th>
		<th>Phone number</th>
		<th>Company</th>
		<th>Company Email</th>
		<th>Position</th>
		<th>Created</th>
	</tr>
  <tr>
  </tr>
  
<% for user in @users %>
  <tr>
  	<td><%= user.fname %></td>
	<td><%= user.email %></td>
	<td><%= user.mobile %></td>
	<td><%= user.coyname %></td>
	<td><%= user.coyemail %></td>
	<td><%= user.position %></td>
	<td><%= user.created_at %></td>
	<td>
		<%= link_to "Confirm", {:controller => "superbowl", :action => "confirmuser", :id => user.id},:class=>"btn btn-success" %>
	</td>
  </tr>
<% end %>
</table>

<br />